<!-- need to put stripe checkout link here -->
<form action="your-server-side-code" method="POST">

<!-- data-amount will need to be dynamic with cart total -->
<script
src="https://checkout.stripe.com/checkout.js" class="stripe-button"
data-key="pk_test_UxDuOG7M2SZQLIDtrFMoZtRP"
data-amount="100"
data-name="Frosting"
data-description="Your adventure just got yummier!"
data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
data-locale="auto">
</script>
</form>
<script src="#"></script>
<button style="display: none" type="button" class="btn btn-default create-order" id="save-order-button">Save for later</button>
<!-- <button style="display: none" type="button" class="btn btn-default checkout" id="checkout-button">Checkout</button> -->
</div>
</div>
<h3 class="sign-in-warn">Must be signed in to complete this order</h3>
</body>
</html>
