<section>
<h1> frosting </h1>
<button id="signIn">SIGN IN</button>
<button id="signUp">SIGN UP</button>
<div id="form"> </div>
<div id="description" >yumminess</div>
<button class="viewProducts" >Click here to view our products!</button>
<!--nav bar with frop downs -->
<!-- <body class="container-fluid">
  <nav class="navbar navbar-inverse sign">
            <ul class="nav navbar-nav">
              <li id='flavors-button' class="flavors" data-toggle="modal" data-target="#flavors">
                <a>Flavors</a>
              </li>
              <li class="ourStory" style="display: none" data-toggle="modal" data-target="#ourStory">
                <a>Our Story</a>
              </li>
              <li id='all-button' class="search">
                <a>All Products</a>
              </li>
            </ul>
          </body>
          </nav> -->
          </section>
