<section>
<div class= "product">
<h1 class= "prod-name"> Everybody's Birthday </h3>
<div class= "description"> Vanilla frosting with sprinkles </div>
<p class="product-price">$7.69</p>
<button class="add-to-cart">Add item to cart</button>
</section>

<section>
<div class= "product">
<h1 class= "prod-name"> Grandma's Cookies </h3>
<div class= "description"> Vanilla frosting with cookie dough chunks </div>
<p class="product-price">$7.69</p>
<button class="add-to-cart">Add item to cart</button>
</section>

<section>
<div class= "product">
<h1 class= "prod-name"> Leadville Mud </h3>
<div class= "description"> Chocolate frosting with oreo crumble </div>
<p class="product-price">$7.69</p>
<button class="add-to-cart">Add item to cart</button>
</section>
